.projectsContainer{
    width: 80%;
    padding-bottom: 100px;
}

.projectsContainer > h1
{
    font-size: 40px;
}

.projectsRow
{
    display: flex;
     
}

.singleProject
{
    margin-right: 70px;
}

.singleProject > img{

    width: 450px;
    height: 450px;
    object-fit: contain;
}