body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 219, 103);
}

.container
{
  display: flex;
  padding-left: 30px;
}

.leftCorner {
  width: 80%;
  /* background-color: red; */
  height: 100vh;
}

.rightCorner {
  width: 20%;
  /* background-color: green; */
  height: 100vh;
}
